* {
    font-family: Helvetica, Arial, sans-serif;
}

.App {

    width: 320px;
    height: 568px;
    margin: auto;
    background-color: #01060F;
    margin-top: 5rem;
    color: #FFFFFF;
    overflow: hidden;
}


.App-header {
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
}

nav {

    display: flex;
    justify-content: flex-end;
}

.header__selector {
    font-family: Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 32px;
    background-color: #18202F;
    padding: 8px 16px 8px 8px;
    color: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    margin-right: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__selector img, .header__selector__option img {
    margin-right: 4px;
}

.header__selector:focus-visible {
    outline: none;
}

.header__selector__options {
    background-color: #2C4451;
    border-radius: 12px;
    /*margin-top: 4px;*/
    position: absolute;

}

.header__selector__option {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 8px;
    cursor: pointer;
}

.header__selector__option:hover, .header__selector__option.active {

    background-color: rgba(255, 255, 255, 0.16)
}

.header__selector__option:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.header__selector__option:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.current__language {
    height: 20px;
    width: 20px;
    background-color: #18202F;
    padding: 8px;
    border-radius: 32px;
}

.authorization__display {
    width: 80px;
    height: 36px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button--white {
    font-size: 12px;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 16px;
    color: #000000;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.auth__wrapper {
    background-color: #20242C;
    margin: 12px;
    padding: 16px;
    border-radius: 16px;
}

.auth__navigation {
    display: flex;
    justify-content: space-between;
}

.auth__switch {
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 4px;
    font-size: 12px;
}

.auth__switch button {
    background: none;
    outline: none;
    border: none;
    width: 106px;
    padding: 10px 18.5px;
    cursor: pointer;
    color: #FFFFFF;
}

.auth__switch .active {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 20px;
}

.auth__form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 16px;
}

.auth__form input {
    border-radius: 16px;
    padding: 16px 0 16px 12px;
    background-color: #111419;
    outline: none;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.12);
    margin-bottom: 8px;
    font-size: 12px;
}

.auth__form input[type="checkbox"] {
    appearance: none;
    background-color: #20242C;
    margin: 0;
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 2px solid currentColor;
    border-radius: 3px;
    padding: unset;
    cursor: pointer;
}


.auth__form input[type="checkbox"]:checked::after {
    content: '✔';
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
}


.auth__social__icons {
    display: flex;
    justify-content: center;
}

.auth__social__icons img {
    margin-right: 8px;
}

.order-tag {
    /*margin: 0 16px 12px 0;*/
    width: 85.33px;
}

.order-tag h3, .order-tag h4 {
    margin: unset;
    margin-bottom: 4px;
}

.order-tag h4 {
    color: rgba(255, 255, 255, .5);
    font-size: 10px;
}

.order-tag h3 {
    font-size: 12px;
}

.order__card {
    background: #1F242C;
    border-radius: 16px;
    margin: 12px 0 12px 0;
}

.orders__wrapper {
    overflow: scroll;
    height: 100%;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.orders__wrapper::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.order__list {
    height: fit-content;
    padding-bottom: 5rem;
}

.goods__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goods__card {
    background: #1F242C;
    border-radius: 16px;
    padding: 19px;
    display: flex;
    justify-content: center;

}

.goods__amount {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
}

.goods__price {

    font-weight: bold;
    font-size: 14px;
}